.feature-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.feature-list-item {
  &__heading {
    width: 300px;
    margin: 0 auto 15px auto;
    font-family: $font-family-primary;
    font-size: 16px;
    color: $heading-secondary;
    text-align: center;
  }

  &__text {
    width: 220px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }

  & + & {
    margin-top: 40px;
  }
}

@include desktop {
  .feature-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }

  .feature-list-item {
    &__heading {
      font-size: 24px;
      margin-bottom: 25px;
      width: auto;
    }

    &__text {
      font-size: 16px;
      width: auto;
    }

    & + & {
      margin-top: 0;
    }
  }
}
