$white: #fff;
$brand-primary: #FFB703;
$brand-secondary: #023047;
$brand-blue: #219EBC;
$text-primary: $brand-secondary;
$heading-primary: $text-primary;
$heading-secondary: $brand-blue;
$text-white: $white;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$mobile-min: 390px;
$tablet-min: 1024px;
$desktop-min: 1366px;
